# Algorithm Workbench
### # 1 
### Write a statement that creates a list with the following strings:'Einstein', 'Newton', 'Copernicus', 'Kepler'

In [1]:
# scientist is the list name and assign the names to the list 
scientists = ['Einstein', 'Newton', 'Copernicus', 'Kepler']

# Access and print names
print(scientists[0])  
print(scientists[1])  
print(scientists[2])
print(scientists[3])

Einstein
Newton
Copernicus
Kepler

### # 2
### Assume names references a list. Write a  loop that displays each element of the list.

In [12]:
# names is the name of the list of names 
names = ['chris', 'nick', 'emily', 'taylor']
# for name in names: is to set up the loop for the names to print 
for name in names:
    print(name)

chris
nick
emily
taylor

# Programming Exercises

### 1. Total Sales
#### Design a program that asks the user to enter a storeâ€™s sales for each day of the week. The amounts should be stored in a list. Use a loop to calculate the total sales for the week and display the result.

In [17]:
sum = 0 
sales_list = [0, 0, 0, 0, 0, 0, 0]
sales_list[0] = float(input("please enter the slaes for monday: "))
sales_list[1] = float(input("please enter the slaes for tuesday: "))
sales_list[2] = float(input("please enter the slaes for wednesday: "))
sales_list[3] = float(input("please enter the slaes for thusday: "))
sales_list[4] = float(input("please enter the slaes for friday: "))
sales_list[5] = float(input("please enter the slaes for saturday: "))
sales_list[6] = float(input("please enter the slaes for sunday: "))

for sales in sales_list:
    sum += sales
    
print(f"the sum is {sum}")

please enter the slaes for monday: 2.1
please enter the slaes for tuesday: 4
please enter the slaes for wednesday: 4
please enter the slaes for thusday: 10
please enter the slaes for friday: 10
please enter the slaes for saturday: 10
please enter the slaes for sunday: 10
the sum is 50.1